/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  .search-bricks button {
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  .search-bricks button {
    color: white;
  }
}

.search-bricks button,
.search-bricks input {
  line-height: 35px;
}

.search-bricks button {
  -webkit-appearance: none; /* Fix button style on Mobile Safari */
  font-size: large;
}
